/**********************************************/

/* -------- ( 2 ) About Us Page Css ------------ */

/****************************************************/


/* -------- ( 2.1 ) Our Ethos  ------------ */
#our_ethos ul {
    padding: 0px 20px;
}

#our_ethos li {
    margin: 0px;
    list-style-type: decimal;
    width: 75%;
}
